.gl-single-stat.gl-display-flex.gl-flex-direction-column.gl-p-2
  .gl-display-flex.gl-align-items-center.gl-text-gray-700.gl-mb-2
    - if title_icon?
      = sprite_icon(@title_icon, css_class: 'gl-mr-2')
    %span.gl-font-base.gl-font-weight-normal{ data: { testid: 'title-text' } }
      = title || @title
  .gl-single-stat-content.gl-display-flex.gl-align-items-baseline.gl-font-weight-bold.gl-text-gray-900
    %span.gl-single-stat-number.gl-line-height-1{ class: unit_class, data: { testid: 'displayValue' } }
      %span{ data: { testid: 'non-animated-value' } }
        = stat_value || @stat_value
    - if unit?
      %span.gl-font-sm.gl-mx-2.gl-transition-medium.gl-opacity-10{ data: { testid: 'unit' } }
        = @unit
    - if meta_icon? && !meta_text?
      = sprite_icon(@meta_icon, css_class: @text_color)
    - elsif meta_text?
      = render Pajamas::BadgeComponent.new(@meta_text,
        variant: @variant,
        icon: @meta_icon,
        data: { testid: 'meta-badge' })
